body {
  font-family: Arial, sans-serif;
  background-color: #d5d5d5;
  color: #333;
  text-align: center;
  padding: 20px;
}

.countdown-container {
  width: 70%;
  margin: 35vh auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
